name: Purge Cache

on:
  push:
  schedule:
    - cron: '0 0 * * *' # Runs once a day (https://crontab.guru/once-a-day)
  workflow_dispatch:

permissions:
  actions: write

jobs:
  cleanup:
    if: ${{ github.event_name == 'schedule' || contains(github.event.commits[0].message, '[flush cache]') }}
    runs-on: ubuntu-latest
    name: Purge actions cache
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            console.log("About to clear")
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
            for (const cache of caches.data.actions_caches) {
              console.log(cache)
              github.rest.actions.deleteActionsCacheById({
                owner: context.repo.owner,
                repo: context.repo.repo,
                cache_id: cache.id,
              })
            }
            console.log("Clear completed")
